@import url("./Themes/colors.css");

@import url("./Styles/desktop.css");
@import url("./Styles/tablet_p.css");
@import url("./Styles/mobile.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colors-background-primary);
  font-family: "Roboto", sans-serif;
}

.hide-Item {
  display: none !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--colors-element-primary);
  top: 0;
  opacity: 0.9;
  z-index: 5;
}

.loader div {
  width: 130px;
  height: 130px;
  border: 25px solid var(--colors-background-tertiary);
  border-radius: 50%;
  border-top-color: #fff;
  border-left-color: #fff;
  animation: spin 0.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
